body {
  text-align: center;
}

.broadway {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: Bold;
  color: White;
}

.header {
  background-image: url("../images/building.png");
}

.link {
  font-family: Helvetica;
  font-size: 18px;
  color: White;
}

h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}

h4 {
  font-family: Helvetica;
  font-size: 14px;
}

.midder {
  background-image: url(../images/building.png);
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
}

  .footer {
    background-color: dimgray;
    text-align: left;
    font-family: Helvetica;
    font-size: 11px;
    color: white;
  }

  .footlink {
    font-family: Helvetica;
    font-size: 11px;
    color: white;
  }
